/JLSDataAccess/obj
/JLSConsoleApplication/bin
/JLSConsoleApplication/obj
/JLSConsoleApplication/Logs
/JLSDataModel/obj
/.vs
/JLSDataModel/bin
/JLSDataAccess/bin
Properties
/JLSConsoleApplication/web.config
/JLSConsoleApplication/images/*
